version: '3.7'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus_server
    ports:
      - "9090:9090"
    volumes:
      - ./Prometheus/Prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.external-url=http://localhost:9090'
      - '--web.listen-address=0.0.0.0:9090'
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana_server
    ports:
      - "3001:3000"
    volumes:
      
      - grafana-storage:/var/lib/grafana
      #provisioning directory 
      - ./Grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=grafana-clock-panel
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning

      # email alerting config
      - GF_SMTP_ENABLED=true
      - GF_SMTP_USER=${GF_SMTP_USER}
      - GF_SMTP_PASSWORD=${GF_SMTP_PASSWORD}
      - GF_SMTP_FROM_ADDRESS=${GF_SMTP_FROM_ADDRESS}
      - GF_SMTP_FROM_NAME=${GF_SMTP_FROM_NAME}
      - GF_SMTP_HOST=smtp.gmail.com:587
      - GF_SMTP_SECURE_CONNECTION=starttls
      - GF_SMTP_SKIP_VERIFY=true
    restart: unless-stopped
    depends_on:
      - prometheus
  predictor:
    build: ./predictor
    container_name: predictor
    restart: always
    depends_on:
      - prometheus
      - pushgateway
    environment:
      PROMETHEUS_URL: "http://prometheus:9090"
      PUSHGATEWAY_URL: "http://pushgateway:9091"
      PREDICTOR_JOB: "disk_predictor_test"

  pushgateway:
    image: prom/pushgateway:latest
    container_name: pushgateway
    ports:
      - "9091:9091"
    restart: always 

volumes:
  prometheus-data: {}
  grafana-storage: {}
